doctype html
html
  head
    title Página Simples
    meta(charset="UTF-8")
  body
    h1 Olá, mundo!
    p Esta é uma página simples usando Jade (Pug).
    ul
      li Item 1
      li Item 2
      li Item 3
